pom.xml
target/
node_modules
dist/*
coverage
coverage-combined
.nyc_output
.DS_Store
lint-results.txt
npm-debug.log*
yarn-error.log
.eslintcache
webpack_cache
.idea/
*.iml
errorShots
local.log
junit*.xml
package-lock.json
yarn.lock
checkstyle-result.xml
voltron-integration-tests-secret.json
config/local-bff.json

allure-report/*
allure-results/*
docs/index.html

# VS Code
.vscode
.history/
jsconfig.json

translations/build
translations/out
